<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>

<div class="users">
    <form action="#" th:action="@{/users/saveUser}" th:object="${user}" method="POST">
        <table>
            <tr>
                <td>Login:</td>
                <td><input type="text" th:field="*{login}"/></td>
                <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></td>

            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>

    <form th:action="@{/users/deleteUser}" th:object="${user}" method="POST">
        <table>
            <tr>
                <td>Id in database:</td>
                <td><input type="text" th:field="*{idDb}"/></td>
                <!--<td>Name:</td>
                <td><input type="text" th:field="*{login}"/></td>-->
            </tr>
            <tr>
                <td>
                    <button type="submit">Delete</button>
                </td>
            </tr>
        </table>
    </form>

    <span th:text="${message}">Status</span>

    <table class="table" style="width:30%" border="1px solid black">
        <thead>
        <tr>
            <th>Login</th>
            <th>Id from database</th>
            <th>Id on GitHub</th>
            <th>Public repos</th>
            <th>Date of creating an account</th>
            <th>Followers</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.login}">Login</td>
            <td th:text="${user.idDb}">Id from database</td>
            <td th:text="${user.id}">Id on GitHub</td>
            <td th:text="${user.noOfPublicRepos}">Public repos</td>
            <td th:text="${user.dateOfCreatingAnAccount}">Date of creating an account</td>
            <td th:text="${user.followers}">Followers</td>
        </tr>
        </tbody>

    </table>
</div>


</body>
</html>