<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<title>All users</title>

<head th:include="navi :: head">
<body>
<div class="container-fluid">
    <div th:include="navi :: menu"></div>


    <div class="users">
        <div class="card">
            <div class="card-body">
                <div class="col-xs-12">
                    <h3>
                        <label class="alert alert-info" th:text="${message}">Status of action?</label>
                    </h3>
                </div>
                <div class="col-xs-9">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Login</th>
                            <th scope="col">Id from database</th>
                            <th scope="col">Id on GitHub</th>
                            <th scope="col">Public repos</th>
                            <th scope="col">Date of creating an account</th>
                            <th scope="col">Followers</th>
                            <th scope="col">Repos URL</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">

                            <td th:text="${user.login}">Login</td>
                            <td th:text="${user.idDb}">Id from database</td>
                            <td th:text="${user.id}">Id on GitHub</td>
                            <td th:text="${user.noOfPublicRepos}">Public repos</td>
                            <td th:text="${user.dateOfCreatingAnAccount}">Date of creating an account</td>
                            <td th:text="${user.followers}">Followers</td>
                            <td th:text="${user.reposUrl}">Repos URL</td>
                            <!--  <td th:onClick="${user.reposUrl}">Repos URL</td>-->
                            <td>
                                <a th:href="@{/users/deleteUser?idDb={idDb}(idDb=${user.idDb})}"
                                   role="button" class="btn btn-danger">
                                    <i class="fa fa-info"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12">
                    <form th:action="@{/users/deleteAll}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete all</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>